@import 'bootstrap/dist/css/bootstrap.css';

.app-container {
  width: 100vw;
  margin: 0 auto;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.check-cell.selected {
  background-color: lightgreen;
}

.cross-cell.selected {
  background-color: lightcoral;
}

.check-icon.text-success {
  color: green;
}

.cross-icon.text-danger {
  color: red;
}


